  <h1>HR-Mitra</h1>
  <%= link_to 'About us', about_path, target: '_blank', style:'color:red;' %> <br>
  <%= link_to 'Contact us', contact_path, target: '_blank'%> <br>
  <%= link_to 'Terms & conditions', terms_and_conditions_path, target: '_blank'%> <br>
  <%= link_to 'Privacy Policy', privacy_poilicy_path, target: '_blank'%><br>